.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #f5f5f5;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background-color: #f5f5f5
}

.Blog-display {
  display: grid;
  grid-template-columns: 4fr 1fr;
}



ul.blogselect {
  list-style: none;
}
.center {
  /* ここを足して100になるようにすればok */
  /* width: 80%; */
  width: 500px;
  height: 500px;
  margin: 0 10%;
}

.box-container{
  display: flex;
}
.on-picture {
  position: relative;
  float: left;
  /* imgのところとサイズをあわせる */
  width: 280px;
  height: 280px;
  /* なんか8.5%ならいい感じになった */
  margin: 0 150px;
  border-radius: 20px;
  overflow: hidden;
  /* backgroundの指定 */
  /* background-color: #61dafb;
  background-image: url(./resources/home01.png);
  background-size: 260px 260px;
  background-position: center;
  background-repeat: no-repeat; */
}

.on-picture img {
  width: 280px;
  height: 280px;
}
.on-picture p {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%,-50%);
  margin: 0;
  padding: 0;
  font-size: 20px;
  color: white;
  background: rgba(0, 0, 0, 0.30);
}

hr {
  border: none;
  margin: 2.3em 0;
}

.menubar {
  background: black;
  height: 55px;
  display: flex;
}

.menubar-name {
  position: relative;
  display: inline-block;
  font-size: 18px;
  padding: 0 100px;
  color: #FFF;

  background-color: transparent;
  border: none;
  outline: none;
  appearance: none;
}

.menubar-button {
  position: relative;
  float: left;
  font-weight: Italic;
  font-size: 1.2em;
  padding: 0px 40px;
  color: #FFF;
  transition: .1s;

  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  appearance: none;
}

.menubar-sns {
  margin: 0 30px;
}

.menubar-sns-button {
  position: relative;
  float: left;
  background-color:white;
  border: none;
  cursor: pointer;
  outline: none;
  appearance: none;
  width: 42px;
  height: 42px;
  margin: 8px 10px;
  border-radius: 30%;
}

.menubar-sns img {
  width: 78%;
  margin: 11% 11%;
}

.menubar-button p {
  display: inline-block;
  border-bottom: solid 2px #FFF;
}

.menubar-button:focus {
	outline:0;
}

.profile {
  
}
.profile-contents img {
  position: relative;
  float: left;
}


/* .css-animation {
  overflow-x: hidden;
  animation-duration: 3s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%; 
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
} */